@using PcCreator.Models.PcCreator;
@using System.ComponentModel.DataAnnotations;
@model PcDetailsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-md card d-flex flex-column justify-content-center mb-4 mt-5 px-5">
    <h1 class="display-5 text-center mb-4 mt-5">NAZWA ZESTAWU</h1>
    <a class="btn btn-primary mx-auto mb-4" asp-action="Index">
        <i class="fa fa-backward"></i>
        Powrót
    </a>

    <table class="table table-hover table-striped text-center">
        <thead class="table-primary">
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Wartość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model.Pc.GetType().GetProperties())
            {                    
                var displayAttribute = (DisplayAttribute)Attribute.GetCustomAttribute(property, typeof(DisplayAttribute));
                string displayName = displayAttribute?.Name ?? property.Name;

                if (property.Name != "Id" && property.Name != "CpuId" && property.Name != "GpuId" && property.Name != "Created" && property.Name != "ProductionDate" 
                    && property.Name != "Cpus" && property.Name != "Gpus")
                {


                    <tr>
                        <td>@displayName</td>
                        <td>@property.GetValue(Model.Pc)</td>
                    </tr>
                }

                if(property.Name == "Created" || property.Name == "ProductionDate")
                {
                    DateTime propertyValue = (DateTime)property.GetValue(Model.Pc);
                    <tr>
                        <td>@displayName</td>
                        <td>@propertyValue.Date.ToString("dd-MM-yyyy")</td>
                    </tr>
                }
            }
            <thead class="table-primary">
                <th colspan="2">Procesor</th>
            </thead>

            @foreach(var property in Model.Cpu.GetType().GetProperties())
            {
                var displayAttribute = (DisplayAttribute)Attribute.GetCustomAttribute(property, typeof(DisplayAttribute));
                string displayName = displayAttribute?.Name ?? property.Name;

                if (property.Name != "Id" && property.Name != "Pcs")
                {
                    <tr>
                        <td>@displayName</td>
                        <td>@property.GetValue(Model.Cpu)</td>
                    </tr>
                }
            }

            <thead class="table-primary">
            <th colspan="2">Karta Graficzna</th>
            </thead>

            @foreach (var property in Model.Gpu.GetType().GetProperties())
            {
                var displayAttribute = (DisplayAttribute)Attribute.GetCustomAttribute(property, typeof(DisplayAttribute));
                string displayName = displayAttribute?.Name ?? property.Name;

                if (property.Name != "Id" && property.Name != "Pcs")
                {
                <tr>
                    <td>@displayName</td>
                    <td>@property.GetValue(Model.Gpu)</td>
                </tr>
                }
            }
            
        </tbody>
    </table>
</div>